In [1]:
# melakukan import libraries
import pandas as pd
import numpy as np
import pickle
import json

In [2]:
# membuka model yang sudah dibuat
with open('list_cat_cols.txt', 'r') as file_1:
  list_cat_col = json.load(file_1)

with open('list_num_cols.txt', 'r') as file_2:
  list_num_col = json.load(file_2)

with open('encoder.pkl', 'rb') as file_3:
  model_encoder = pickle.load(file_3)

with open('scaler.pkl', 'rb') as file_4:
  model_scaler = pickle.load(file_4)

with open('model_lin_reg.pkl', 'rb') as file_5:
  model_lin_reg = pickle.load(file_5)

In [3]:
# membuat dataframe baru yang akan digunakan untuk diprediksi
data_inf = {
    'cab_type'  :'Uber', 
    'name'  :'Black', 
    'distance'  :0.80, 
    'surge_multiplier'  :1 
    }

data_inf = pd.DataFrame([data_inf])
data_inf

  cab_type   name  distance  surge_multiplier
0     Uber  Black       0.8                 1

In [4]:
# melakukan split kategorikal dan numerical
data_inf_cat = data_inf[list_cat_col]
data_inf_num = data_inf[list_num_col]
data_inf_cat

  cab_type   name
0     Uber  Black

In [5]:
# feature scaling
data_inf_num_scaled = model_scaler.transform(data_inf_num)
data_inf_cat_encoded = model_encoder.transform(data_inf_cat)
data_inf_final = np.concatenate([data_inf_num_scaled, data_inf_cat_encoded], axis = 1)

In [6]:
# melakukan predict
y_pred_inf = model_lin_reg.predict(data_inf_final)
y_pred_inf

array([16.63318389])